@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --max_heigth: 300px;
  --max_width: 1250px;
}

/* outline all for debugging */
/* * { outline: 3px solid rgb(221, 0, 255);} */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(0, 0, 0, 0.25); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
html{
		scroll-behavior: smooth;
	}

body {
  margin: 0;
  background: #050505;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
    z-index: 10;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  position: fixed;
  height: 40px;
  width: 100%;
  background: #050505;
  padding: 0.5em;
  z-index: 99;
}
.navbar .logo {
  width: 70px;
}
.navbar .logo_gray {
  width: 100%;
  position: relative;
  padding: 5px 10px;
}
.navbar nav {
  display: none;
  position: fixed;
  transition: left 0.5s ease-in-out;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar .mobile-menue {
  justify-self: end;
  position: relative;
  height: 20px;
  padding: 15px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menue-btn {
  display: block;
  transition: left 0.5s ease-in-out;
}

nav {
  position: relative;
  float: right;
  z-index: 99;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  right: 0;
  top: -0.75em;
  background: rgba(36, 36, 36, 0.95);
  padding: 1em 1em;
  margin: 0;
}
nav ul.primary-nav {
  margin-top: 2em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5em 2em;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: center;
  transition: background-color 1s linear;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menue-exit {
  width: 1.5em;
  float: right;
  margin: 0.5em;
  padding-top: 0.5em;
  cursor: pointer;
}

.old {
  display: none;
  text-decoration: none;
}

.old-menue {
  display: block;
  text-decoration: none;
}

section {
  padding: 5em 2em;
}

.hero {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  text-align: left;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding-bottom: 2.25em;
}
.hero .header {
  font-weight: lighter;
}

.foto-mobile {
  display: block;
  width: 100%;
  max-width: 480px;
}

.foto {
  display: none;
}

.projects {
  display: block;
  margin: 1em 0 0 0;
  padding: 0;
}

.header-projects {
  text-align: center;
  margin: 1em 0 1em 0;
}

.image-background {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
}

.image {
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    max-width: 100%;
    box-shadow: 0 0 100px 12px rgba(0, 0, 0, 0.5);
    z-index: 98;
}

#lightbox {
    backdrop-filter: blur(5px);
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    text-align: center;
    padding: 3em 0;
    margin: 0;
}

#bigImg {
    max-width: 90%;
    max-height: 85vh;
    z-index: 101;
}

#subtext {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 0;
    margin: 1em 3em;
}

.description-background {
  width: 100%;
  background-color: #191919;
}

.description {
  margin: 0;
}
.description h3 {
  margin: 0;
  padding: 1em;
}
.description p {
  margin: 0;
  padding: 0 1em 1em 1em;
}

#cards {
  background-color: #4d4d4d;
}


#wr-energy {
  background-image: linear-gradient(#66AAF4, #892FF3);
}

#fehtke {
  background-image: conic-gradient(white, #72BF45, white, white, white, #E1603B, white);
}

#firelink {
  background-image: linear-gradient(#997968, #FCF1CE, #FCF1CE, #997968);
}

#hogwarts {
  background-image: linear-gradient(#0D0C20, #504D97,  #0D0C20);
}

#majula {
  background-image: linear-gradient(-25deg, #7C6254, #BAB49F, #DCD2A0);
}

#bockwurst {
  background-color: white;
}

#tg1861 {
  background-color: white;
}

#zp2025p {
  background-image: linear-gradient(-30deg, #000000, #FFFFFF, #FFFFFF, #000000);;
}

#website {
  background-color: black;
}

#chicken {
  background-image: linear-gradient(135deg, #415025, #657043);
}

#dark-knight {
  background-image: linear-gradient(to right, #9B9686, #25454B);
}

#silver-knight {
  background-image: linear-gradient(45deg, #070508, #564559, #070508);
}

#mage {
  background-image: conic-gradient(#081B1D, #081B1D, #081B1D, #081B1D, #081B1D, #AD8851, #081B1D);
}

#WRE {
  background-color: #7c7a7a;
}

#WRE-og-space {
  background-image: linear-gradient(45deg, #858384, #141414);
}

#WRE-yt {
  background-color: #414141;
}

#yt-player {
  width: 100%;
  max-height: --image_height;
  max-width: 500px;
  border: none;
}

#kristall {
  background-image: linear-gradient(260deg, #595858, #121212);
}

#ds3-result {
  background-image: linear-gradient(90deg, #161c28, #e3c9a5);
}

#ds3-o1 {
  background-image: linear-gradient(#352e19, #e3c9a5, #352e19);
}

#ds3-o2 {
  background-image: linear-gradient(#0f1022, #c5d9f7, #0f1022);
}

#html-form {
  background-color: white;
}

#html-table {
  background-color: white;
}

#zp2025d {
  background-image: linear-gradient(0deg, #5B1227, #4B1D7E);
}

::-moz-placeholder {
  font-size: 1.1em;
  font-family: "Poppins";
  font-weight: lighter;
}

::placeholder {
  font-size: 1.1em;
  font-family: "Poppins";
  font-weight: lighter;
}

.contact {
  padding: 2em;
}

.box {
  background-color: #191919;
  padding: 1em 1em 0 1em;
}

.contact-overlay {
  height: 100%;
  margin: 0;
  padding: 1em;
  text-align: center;
}

label {
  display: block;
  font-size: 1em;
  text-align: left;
  margin: 0;
}

#name {
  background-image: url("../../../images/icons-black/person.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  font-family: "Poppins";
  font-weight: lighter;
  text-indent: 35px;
}

#email {
  background-image: url("../../../images/icons-black/mail.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  font-family: "Poppins";
  font-weight: lighter;
  text-indent: 35px;
}

#message {
  background-image: url("../../../images/icons-black/edit_black_24dp.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  font-family: "Poppins";
  font-weight: lighter;
  text-indent: 35px;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 2em;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

.send-message-cta {
  position: relative;
  background-color: white;
  color: black;
  border: none;
  width: unset;
  padding: 0.5em 1em;
  cursor: pointer;
}

.impressum {
  margin: 0;
  padding: 0;
  list-style: none;
}

.impressum li p {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1080px) {
  .mobile-menue, .mobile-menue-exit {
    display: none;
  }
    
  .navbar .container {
    display: grid;
    grid-template-columns: 30% 37% 31%;
    justify-content: start;
  }
    
  .old-menue {
    display: none;
  }
    
  .old {
    display: block;
    justify-self: end;
    color: white;
    font-size: 1em;
    margin: 0.5em 0.3vw;
    padding: 0.3em 1vw;
  }
    
  .navbar nav {
    display: flex;
    justify-content: center;
    background: none;
    position: unset;
    height: 2.8em;
    padding: 0;
  }
    
  .navbar nav ul {
    display: flex;
  }
    
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
    background-color: unset;
  }
    
  .navbar nav a {
    color: white;
    font-size: 1em;
    margin: 0.5em 0.3vw;
    padding: 0.3em 1vw;
  }
    
  .hero .container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
  }
    
  .hero_container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    width: 50vw;
  }
    
  .foto-mobile {
    display: none;
  }
    
  .foto {
    display: block;
    width: 100%;
    max-width: 480px;
  }
    
  #projects {
    margin: 0;
    padding: 0;
    height: 3em;
  }
    
  .projects {
    display: grid;
    grid-template-columns: 100%;
    margin: 0 auto;
    max-width: var(--max_width);
  }
    
  .header-projects {
    margin: 0;
  }
    
  .blocks {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px 0;
  }
    
  .blocks-r {
    display: grid;
    direction: rtl;
    grid-template-columns: 50% 50%;
    margin: 10px 0;
  }
    
  .image {
    max-height: var(--max_heigth);
  }

  #WRE-yt {
    height: var(--max_heigth);
  }
    
  #yt-player {
    width: 100%;
    max-height: var(--max_heigth);
    max-width: 100%;
    border: none;
  }
    
  .description-background {
    direction: ltr;
    max-height: var(--max_heigth);
  }
    
  #contact {
    margin: 0;
    padding: 0;
    height: 3em;
  }
    
  .contact {
    height: 950px;
    padding: 0;
    margin: 0 auto;
    max-width: var(--max_width);
  }
    
  .contact-overlay {
    padding: 0;
  }
    
  .impressum {
    margin: 2em auto;
    max-width: var(--max_width);
  }
}/*# sourceMappingURL=newmain.css.map */
