:root { 
    --primary-color : #23c8db;
    --secondary-color : #200830;
}

.hero {
    background-image: url("../../../images/projects/backdrop/aurora2_orange.png");
    padding-bottom: 2.25em;
}


.categories-list {
    justify-content: space-between;
    text-align: center;
    background: none;
    position: unset;
    height: fit-content;
    width: 92vw;
    margin: 0;
    padding: 0 0 0 1em;

    ul {
        display: inline-flex;
        margin: 0;
    }

    li.current a {
        font-weight: bold;
        color: white;
        outline: unset;
        background-color: var(--primary-color);
    }

    a {
        color: var(--primary-color);
        font-size: 1em;
        text-decoration: none;
        background-color: white;
        margin-right: 2vw;
        padding: .75em .6em;
        border-radius: .5em;
        outline: 2px solid var(--primary-color);
        &:hover {
            background: var(--secondary-color);
            color: white;
        }
    }
}

.categories {
    background-image: url("../../../images/projects/backdrop/aurora3_orange.png");
}

.left-col {
    position: relative;
    height: fit-content;
    padding: 7vw;

    .background {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.75);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 101;
        cursor: pointer;
    }

    .big-view {
        position: relative;
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 85%;
        z-index: 100;
        padding: 7vh 4vw;
    }

    .big-img {
        text-align: center;
        background-color: rgba(128, 128, 128, 0);
        color: rgba(0, 0, 0, 0);
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 86vw;
        height: 100%;
        padding: auto;
        cursor: pointer;
    }

    .subtext {
        color: white;
        font-size: 3.5vw;
        text-align: center;
        margin: 0;
        padding: .1em 1em 10vw 1em;
    }

    .schwert {
        background-image: url("../../../images/thumbnails/3D/Schwert/preview2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        margin: 2em 0 3em 0;
        padding: 0;
        height: fit-content;
        width: 86vw;
        position: relative;
        border-radius: 0.1em;
        outline: 3px solid white;
        box-shadow: 1px 1px 10px gray;
        transition: transform 1s;
        
        &:hover {
            transform: scale(1.05);
            z-index: 99;
            box-shadow: 1px 1px 20px gray;
        }

        .schwert-overlay {
            background: linear-gradient(rgba(150, 150, 150, 0.5),rgba(150, 150, 150, 0.5));
            background-size: cover;
            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            border-radius: 0.1em;
            text-decoration: none;

            .schwert-cta {
                padding: 0;
                height: 100%;

                .schwert-text {
                    position: relative;
                    text-align: center;
                    font-size: 5vw;
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 15vw 2rem 5vw;
                    margin: 0;
                }
            }
        }
    }

    .schwert2 {
        background-image: url("../../../images/thumbnails/3D/Schwert/finishedv4.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: center top;
        margin: 3em 0 3em 0;
        padding: 0;
        height: fit-content;
        width: 86vw;
        position: relative;
        border-radius: 0.1em;
        outline: 3px solid white;
        box-shadow: 1px 1px 10px gray;
        transition: transform 1s;

        &:hover {
            transform: scale(1.05);
            z-index: 99;
            box-shadow: 1px 1px 20px gray;
        }

        .schwert2-overlay {
            background: linear-gradient(rgba(150, 150, 150, 0.5),rgba(150, 150, 150, 0.5));
            background-size: cover;
            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            border-radius: 0.1em;

            .schwert2-cta{
                height: 100%;
                padding: 0;
                .schwert2-text {
                    position: relative;
                    text-align: center;
                    font-size: 5vw;
                    color: white;
                    text-decoration: none;
                    display: block;
                    margin: 0;
                    padding: 15vw 2rem 5vw;
                }
            }
        }
    }
    .Kristall {
        background-image: url("../../../images/thumbnails/3D/cristall/kristalle7.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        margin: 3em 0 0 0;
        padding: 0;
        height: fit-content;
        width: 86vw;
        position: relative;
        border-radius: 0.1em;
        outline: 3px solid white;
        box-shadow: 1px 1px 10px gray;
        transition: transform 1s;
        
        &:hover {
            transform: scale(1.05);
            z-index: 99;
            box-shadow: 1px 1px 20px gray;
        }

        .Kristall-overlay {
            background: linear-gradient(rgba(150, 150, 150, 0.5),rgba(150, 150, 150, 0.5));
            background-size: cover;
            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            border-radius: 0.1em;
            text-decoration: none;

            .Kristall-cta {
                padding: 0;
                height: 100%;
                .Kristall-text {
                    position: relative;
                    text-align: center;
                    font-size: 5vw;
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 15vw 2rem 5vw;
                    margin: 0;
                }
            }
        }
    }
    .kürbis {
        background-image: url("../../../images/thumbnails/3D/pumpkin/pumpkin.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        margin: 3em 0 0 0;
        padding: 0;
        height: fit-content;
        width: 86vw;
        position: relative;
        border-radius: 0.1em;
        outline: 3px solid white;
        box-shadow: 1px 1px 10px gray;
        transition: transform 1s;
        
        &:hover {
            transform: scale(1.05);
            z-index: 99;
            box-shadow: 1px 1px 20px gray;
        }

        .kürbis-overlay {
            background: linear-gradient(rgba(150, 150, 150, 0.5),rgba(150, 150, 150, 0.5));
            background-size: cover;
            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            border-radius: 0.1em;
            text-decoration: none;

            .kürbis-cta {
                padding: 0;
                height: 100%;
                .kürbis-text {
                    position: relative;
                    text-align: center;
                    font-size: 5vw;
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 15vw 2rem 5vw;
                    margin: 0;
                }
            }
        }
    }
    .steine {
        background-image: url("../../../images/thumbnails/3D/Rocks.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        margin: 3em 0 0 0;
        padding: 0;
        height: fit-content;
        width: 86vw;
        position: relative;
        border-radius: 0.1em;
        outline: 3px solid white;
        box-shadow: 1px 1px 10px gray;
        transition: transform 1s;
        
        &:hover {
            transform: scale(1.05);
            z-index: 99;
            box-shadow: 1px 1px 20px gray;
        }

        .steine-overlay {
            background: linear-gradient(rgba(150, 150, 150, 0.5),rgba(150, 150, 150, 0.5));
            background-size: cover;
            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            border-radius: 0.1em;
            text-decoration: none;

            .steine-cta {
                padding: 0;
                height: 100%;
                .steine-text {
                    position: relative;
                    text-align: center;
                    font-size: 5vw;
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 15vw 2rem 5vw;
                    margin: 0;
                }
            }
        }
    }
    .planet {
        background-image: url("../../../images/thumbnails/3D/cristall/planet2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        margin: 3em 0 0 0;
        padding: 0;
        height: fit-content;
        width: 86vw;
        position: relative;
        border-radius: 0.1em;
        outline: 3px solid white;
        box-shadow: 1px 1px 10px gray;
        transition: transform 1s;
        
        &:hover {
            transform: scale(1.05);
            z-index: 99;
            box-shadow: 1px 1px 20px gray;
        }

        .planet-overlay {
            background: linear-gradient(rgba(150, 150, 150, 0.5),rgba(150, 150, 150, 0.5));
            background-size: cover;
            position: relative;
            margin: 0;
            padding: 0;
            height: 100%;
            border-radius: 0.1em;
            text-decoration: none;

            .planet-cta {
                padding: 0;
                height: 100%;
                .planet-text {
                    position: relative;
                    text-align: center;
                    font-size: 5vw;
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 15vw 2rem 5vw;
                    margin: 0;
                }
            }
        }
    }
}


nav {
    height: fit-content;
}


@media only screen and (min-width: 975px) {

    .categories-list {
        a{
            padding: .75em 1em;
        }
    }

    .left-col {
        padding: 7.5vw;
        .schwert {
            height: 25vw;
            width: 40vw;
            .schwert-overlay {
                height: 25vw;
                left: 110%;
                .schwert-cta {
                    .schwert-text{
                        font-size: 3.5vw;
                        padding: 2em 1em 2.5em 1em;
                        z-index: 10;
                    }
                }
                .subtext {
                    font-size: 1.5vw;
                    position: relative;
                    top: -4.5em;
                    padding: 0 2em 1em 1em;
                    z-index: 10;
                }
                .big-img {
                    background-color: rgba(0, 0, 255, 0);
                    color: rgba($color: #00000000, $alpha: 0);
                    left: -110%;
                    width: 84vw;
                    z-index: 11;
                }
            }
            &:hover {
                transform: unset;
                z-index: unset;
                box-shadow: 1px 1px 10px gray;
            }
        }
        .schwert2 {
            height: 25vw;
            width: 40vw;
            left: 52.5%;
            .schwert2-overlay {
                height: 25vw;
                left: -110.5%;
                .schwert2-cta {
                    .schwert2-text {
                        font-size: 3.5vw;
                        padding: 2em 1em 2.5em 1em;
                        z-index: 10;
                    }
                }
                .subtext {
                    font-size: 1.5vw;
                    position: relative;
                    top: -6em;
                    padding: 1em 2em 1em 1em;
                    z-index: 10;
                }
                .big-img {
                    background-color: rgba(0, 0, 255, 0);
                    color: rgba($color: #00000000, $alpha: 0);
                    width: 84vw;
                    z-index: 11;
                }
            }
            &:hover {
                transform: unset;
                z-index: unset;
                box-shadow: 1px 1px 10px gray;
            }
        }
        .Kristall {
            height: 25vw;
            width: 40vw;
            .Kristall-overlay {
                height: 25vw;
                left: 110%;
                .Kristall-cta {
                    .Kristall-text{
                        font-size: 3.5vw;
                        padding: 2em 1em 2.5em 1em;
                        z-index: 10;
                    }
                }
                .subtext {
                    font-size: 1.5vw;
                    position: relative;
                    top: -4.5em;
                    padding: 0 2em 1em 1em;
                    z-index: 10;
                }
                .big-img {
                    background-color: rgba(0, 0, 255, 0);
                    color: rgba($color: #00000000, $alpha: 0);
                    left: -110%;
                    width: 84vw;
                    z-index: 11;
                }
            }
            &:hover {
                transform: unset;
                z-index: unset;
                box-shadow: 1px 1px 10px gray;
            }
        }
        .kürbis {
            height: 25vw;
            width: 40vw;
            left: 52.5%;
            .kürbis-overlay {
                height: 25vw;
                left: -110.5%;
                .kürbis-cta {
                    .kürbis-text{
                        font-size: 3.5vw;
                        padding: 2em 1em 2.5em 1em;
                        z-index: 10;
                    }
                }
                .subtext {
                    font-size: 1.5vw;
                    position: relative;
                    top: -4.5em;
                    padding: 0 2em 1em 1em;
                    z-index: 10;
                }
                .big-img {
                    background-color: rgba(0, 0, 255, 0);
                    color: rgba($color: #00000000, $alpha: 0);
                    width: 84vw;
                    z-index: 11;
                }
            }
            &:hover {
                transform: unset;
                z-index: unset;
                box-shadow: 1px 1px 10px gray;
            }
        }
        .steine {
            height: 25vw;
            width: 40vw;
            .steine-overlay {
                height: 25vw;
                left: 110%;
                .steine-cta {
                    .steine-text{
                        font-size: 3.5vw;
                        padding: 2em 1em 2.5em 1em;
                        z-index: 10;
                    }
                }
                .subtext {
                    font-size: 1.5vw;
                    position: relative;
                    top: -4.5em;
                    padding: 0 2em 1em 1em;
                    z-index: 10;
                }
                .big-img {
                    background-color: rgba(0, 0, 255, 0);
                    color: rgba($color: #00000000, $alpha: 0);
                    left: -110%;
                    width: 84vw;
                    z-index: 11;
                }
            }
            &:hover {
                transform: unset;
                z-index: unset;
                box-shadow: 1px 1px 10px gray;
            }
        }
        .planet {
            height: 25vw;
            width: 40vw;
            left: 52.5%;
            .planet-overlay {
                height: 25vw;
                left: -110.5%;
                .planet-cta {
                    .planet-text{
                        font-size: 3.5vw;
                        padding: 2em 1em 2.5em 1em;
                        z-index: 10;
                    }
                }
                .subtext {
                    font-size: 1.5vw;
                    position: relative;
                    top: -4.5em;
                    padding: 0 2em 1em 1em;
                    z-index: 10;
                }
                .big-img {
                    background-color: rgba(0, 0, 255, 0);
                    color: rgba($color: #00000000, $alpha: 0);
                    width: 84vw;
                    z-index: 11;
                }
            }
            &:hover {
                transform: unset;
                z-index: unset;
                box-shadow: 1px 1px 10px gray;
            }
        }
    }
}