@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  margin: 0;
  background: #050505;
  color: #ffffff;
  font-family: "Poppins";
  height: 2000px;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  position: fixed;
  height: 40px;
  width: 99%;
  background: #050505;
  padding: 0.5em;
}
.navbar .logo {
  width: 60px;
}
.navbar .logo_gray {
  width: 100%;
  position: relative;
  left: 10px;
  top: 5px;
}
.navbar nav {
  display: none;
  position: fixed;
  transition: left 0.5s ease-in-out;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menue {
  position: relative;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menue-btn {
  display: block;
  transition: left 0.5s ease-in-out;
}

nav {
  position: relative;
  float: right;
  z-index: 999;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  right: 0;
  top: -0.75em;
  background: rgba(36, 36, 36, 0.95);
  padding: 1em 1em;
  margin: 0;
}
nav ul.primary-nav {
  margin-top: 2em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 0.5em 2em;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: center;
  transition: background-color 1s linear;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menue-exit {
  width: 1.5em;
  float: right;
  margin: 0.5em;
  padding-top: 0.5em;
  cursor: pointer;
}

.old {
  display: none;
  text-decoration: none;
}

.old-menue {
  display: block;
  text-decoration: none;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: left;
  height: 550px;
  margin: 0;
  padding-bottom: 2.25em;
}
.hero .header {
  font-weight: lighter;
}

::-moz-placeholder {
  font-size: 1.1em;
  font-family: "Poppins";
  color: var(--primary-color);
  font-weight: lighter;
}

::placeholder {
  font-size: 1.1em;
  font-family: "Poppins";
  color: var(--primary-color);
  font-weight: lighter;
}

.box {
  background-color: #0F0F0F;
  padding: 1em 1em 0 1em;
}

.contact-overlay {
  height: 100%;
  margin: 0;
  padding: 1em;
  text-align: center;
}

label {
  display: block;
  font-size: 1em;
  text-align: left;
  margin: 0;
}

#name {
  background-image: url("../../../images/icons-black/person.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 35px;
}

#email {
  background-image: url("../../../images/icons-black/mail.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 35px;
}

#message {
  background-image: url("../../../images/icons-black/edit_black_24dp.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  text-indent: 35px;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 2em;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

.send-message-cta {
  position: relative;
  background-color: white;
  color: black;
  border: none;
  width: unset;
  padding: 0.5em 1em;
  cursor: pointer;
}

@media only screen and (min-width: 930px) {
  .mobile-menue, .mobile-menue-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    justify-content: start;
  }
  .old-menue {
    display: none;
  }
  .old {
    display: block;
    justify-self: end;
    color: white;
    font-size: 1em;
    margin: 0.5em 0.3vw;
    padding: 0.3em 1vw;
  }
  .navbar nav {
    display: flex;
    justify-content: center;
    background: none;
    position: unset;
    height: 2.8em;
    width: 100%;
    padding: 0;
    z-index: 12;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
    background-color: unset;
  }
  .navbar nav a {
    color: white;
    font-size: 1em;
    margin: 0.5em 0.3vw;
    padding: 0.3em 1vw;
  }
}/*# sourceMappingURL=newmain.css.map */