@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//-----------------------------------------------------------mobile/base---------------------------------------------------
body {
    margin: 0;
    background: #050505;
    color: #ffffff;
    font-family: 'Poppins';
    height: fit-content;
}

::-webkit-scrollbar{
    display: none;
}
//-----------------------navbar---------------------
.navbar {
    position: fixed;
    height: 40px;
    width: 99%;
    background: #050505;
    padding: .5em;

    .logo {
        width: 60px;
    }

    .logo_gray {
        width: 100%;
        position: relative;
        left: 10px;
        top: 5px
    }

    nav{
        display: none;
        position: fixed;
        transition: left .5s ease-in-out;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menue {
        position: relative;
        right: 15px;
        bottom: 10px;
        cursor: pointer;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menue-btn {
    display: block;
    transition: left .5s ease-in-out;
}

nav {
    position: relative;
    float: right;
    z-index: 999;
    width: 100%;
    height: fit-content;
    right: 0;
    top: -0.75em;
    background: rgba(36, 36, 36, 0.95);
    padding: 1em 1em;
    margin: 0;


    ul.primary-nav {
        margin-top: 2em;
    }

    li {

        a {
            color: white;
            text-decoration: none;
            display: block;
            margin: .5em 2em;
            padding: .5em;
            font-size: 1.3em;
            text-align: center;
            transition: background-color 1s linear;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-menue-exit {
        width: 	1.5em;
        float: right;
        margin: .5em;
        padding-top: .5em;
        cursor: pointer;
}

.old{
    display: none;
    text-decoration: none;
}

.old-menue{
    display: block;
    text-decoration: none;
}

//-----------------------hero---------------------

section {
    padding: 5em 2em;
}

.hero {
    text-align: left;
    height: fit-content;
    margin: 0;
    padding-bottom: 2.25em;
    .header{
        font-weight: lighter;
    }
}

.foto-mobile{
    display: block;
    width: 100%;
    max-width: 480px;
}

.foto{
    display: none;
}

//-----------------------projects---------------------

.projects{
    margin: 1em 0 0 0;
    padding: 0;
}

.header-projects{
    text-align: center;
    margin: 1em 0 1em 0;
}

.image-background{
    display: flex;
    justify-content: center;
    width: 100%;
}

.image{
    position: relative;
    width: 50%;
    box-shadow: 0px 0px 100px 12px rgba(0, 0, 0, 0.5);
}

.description-background{
    width: 100%;
    background-color: #191919;
}

.description{
    margin: 0;
    h3{
        margin: 0;
        padding: 1em;
    }
    p{
        margin: 0;
        padding: 0 1em 1em 1em;
    }
}

//-----------------------projects__sprecial---------------------

#wr-energy{
    background-image: linear-gradient( #66AAF4,#892FF3);
}

//-----------------------contact---------------------

::placeholder {
    font-size: 1.1em;
    font-family: 'Poppins';
    font-weight: lighter;
}

.contact{
    padding: 2em;
}

.box{
    background-color: #191919;
    padding: 1em 1em 0 1em;
}

.contact-overlay {
    height: 100%;
    margin: 0;
    padding: 1em;
    text-align: center;
}

label {
    display: block;
    font-size: 1em;
    text-align: left;
    margin: 0;
}

#name {
    background-image: url("../../../images/icons-black/person.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    font-family: 'Poppins';
    font-weight: lighter;

    text-indent: 35px;
}

#email {
    background-image: url("../../../images/icons-black/mail.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    font-family: 'Poppins';
    font-weight: lighter;

    text-indent: 35px;
}

#message {
    background-image: url("../../../images/icons-black/edit_black_24dp.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-family: 'Poppins';
    font-weight: lighter;

    text-indent: 35px;
}

input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 2em;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
}

.send-message-cta {
    position: relative;
    background-color: white;
    color: black;
    border: none;
    width: unset;
    padding: .5em 1em;
    cursor: pointer;
}

//-----------------------------------------------------------PC---------------------------------------------------
@media only screen and (min-width: 930px){

    //-----------------------navbar---------------------
    .mobile-menue, .mobile-menue-exit {
        display: none;
    }

    .navbar .container {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        justify-content: start;
    }

    .old-menue{
        display: none;
    }

    .old{
        display: block;
        justify-self: end;
        color: white;
        font-size: 1em;
        margin: .5em .3vw;
        padding: .3em 1vw;
    }

    .navbar nav {
        display: flex;

        justify-content: center;
        background: none;
        position: unset;
        height: 2.8em;
        width: 100%;
        padding: 0;
        z-index: 12;

        ul {
            display: flex;
        }


        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
            background-color: unset;
        }
        
        a {
            color: white;
            font-size: 1em;
            margin: .5em .3vw;
            padding: .3em 1vw;
        }
    }

    //-------------------hero---------------
    .foto-mobile{
        display: none;
    }
    
    .foto{
        display: block;
        width: 100%;
        max-width: 480px;
    }

    //-----------------------projects---------------------

    .image-background{
        width: 100%;
    }

    .image{
        width: 50%;
        max-width: 500px;
    }

}
